.annonces-container{
    width: 100%;
    display: inline-grid;
    grid-template-rows: auto auto;
    row-gap: 150px;
    justify-items: center;
}
.annonces-container p{
    font-family: 'Bubblegum Sans', cursive;
    color: #FF4848;
    font-size: 92px;
}
.annonce-container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.annonce-container .ann-card{
    height:510px;
    width: 1100px;
    border-radius: 150px 0px 150px 0px;
    box-shadow: 0px 7px 47px 0px rgba(0, 0, 0 ,0.25);
    background-color: #fff;
    display: inline-grid;
    grid-template-columns: auto auto ;
    column-gap: 40px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.annonce-container .card-text{
    display: inline-grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 36px;
}
.card-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #555;
}
.card-text .title{
    font-family: 'Bubblegum Sans', cursive;
    color: #FF4848;
    font-size: 52px;
}
.card-text .desc{
    width: 510px;
    word-wrap: break-word;
}
.card-text .dates{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 45px;
}
.card-text .date {
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10px;
}
.card-text .date svg{
    color: #555;
    height: 34px;
    width: 34px;

}
.card-text span{
    width: 488px;
    height: 2px;
    background-color: #555;
}
.ann-card img{
    height: 350px;
    width: 350px;
}
@media screen and (max-width: 960px){
    .annonces-container p{
        font-size: 3.5em;
    }
    .card-text .desc {
        width: auto;
    }
    .card-text .desc , .card-text .dates .date p {
        font-size: 1.5em;
    }
    .ann-card img {
        height: 200px;
        width: 200px;
    }
    .card-text .title {
        font-size: 2.5em;
    }
    .annonce-container .ann-card {
        height: fit-content;
        width: fit-content;
        border-radius: 100px 0px 100px 0px;
        padding: 2em 3.5em;
    }
    .card-text span {
        width: auto;
    }
}