.gallery-page{
    display: inline-grid;
    grid-template-rows: auto auto auto;    
    justify-items: center;

}
.gallery-container{
    width: min-content;
    display: inline-grid;
    grid-template-rows: auto auto;
    row-gap: 30px;
    justify-items: center;
}
.gallery-container p{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 76px;
    color: #FF4848;
}


.images {
    width: 100%;
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;

}
.images .pics{
    width: 300px;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}
.images .pics:hover{
    filter:opacity(0.8);
}
.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity .4s ease, visibility .4s ease , transform .5s ease-in-out;
    visibility: hidden;
    opacity:0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.model img{
    width:auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin:0 auto ;
}
.model.open svg{
    position: fixed;
    height: 2rem;
    width: 2rem;
    top:10px;
    right: 10px;
    padding: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.wave{
    width: 100%;
}
