*{
    margin: 0px;
    padding: 0;
}
body{
    background-image: url("./assets/background.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
    height: 100%;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}