:root{
    --rowNum : 10 ;
}
.list-page .list-enfant-container{
    display: inline-grid;
    grid-template-rows: repeat(var(--rowNum) , auto);
    padding: 20px 0px 65px 0px;
}
.enfant-info{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #555;
    font-size: 20px;
    padding: 20px 0px;
    border-bottom: solid 2px #FF4848;
    width: 100%;
}
.enfant-info button ,.envoyer {
    border: 0;
    color: #fff;
    background-color: #FDDC6B;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3 ease;
}
.enfant-info button:hover , .comportement-container .envoyer:hover{
    background-color: #fddb6bd5;
}
.list-page{
    display: inline-grid;
    grid-template-rows: auto auto ;
    justify-items: center;
    width: 100%;
}
.comportement-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ad;
    transition: opacity .4s ease, visibility .4s ease , transform .5s ease-in-out;
    visibility: hidden;
    opacity:0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.comportement-overlay.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.comportement-container{
    height: 680px;
    display: inline-grid;
    grid-template-rows: auto auto;
    border-radius: 30px;
    background-color: #fff;
    overflow-y: auto;
    scrollbar-width: 10px;
}

.comportement-header{
    padding: 10px 35px;
    display: inline-grid;
    grid-template-rows: auto auto;
    justify-items: start;
    row-gap: 10px;
    background-color: #FFE794;
    border-radius: 30px 0px 0px 0px;
}
.comportement-header button{
    color: #555;
    border: 0;
    background-color: #FFE794;
    width: fit-content;
}
.comportement-header button svg{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.about-enfant{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    padding-left: 40px;

}
.about-enfant img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.about-enfant .text{
    display: inline-grid;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center;
}
.about-enfant .text p{
    color: #555;
    font-size: 20px;
    font-family: "Poppins" ,"sans-serif";
}
.comportement-container form{
    background-color: #fff;
    padding: 15px 45px;
    display :inline-grid;
    grid-template-rows: auto auto auto ;
    justify-items: start;
}
.comportement-of-the-day{
    display: inline-grid;
    grid-template-rows: auto auto;
}
.comportement-of-the-day h3 ,.select-matiere h3 , .select-activity h3 ,.add-comment h3 {
    color:#555;
    font-family: "Poppins","sans-serif";
    text-decoration: underline;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .radio {
    display: none;
  }
  .radio ~ span {
    font-size: 3rem;
    filter: grayscale(100);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .radio:checked ~ span {
    filter: grayscale(0);
    font-size: 4rem;
  }

.selecter{
    display: inline-grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
}
.select-matiere , .select-activity , .add-comment{
    display: inline-grid;
    grid-template-rows: auto auto;
    row-gap: 15px;
}
select{
    border: 0;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 16px 15px;
    color: #555;
    box-shadow: 0px 4px 14px 0px #d8cfcf87;
    border-radius: 6px;
}
.review-activity span{
    border: solid 2px red;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: block;
    filter: none;
}
.colorSpan.second{border:solid 2px orange;}
.colorSpan.third{border:solid 2px yellow;}
.colorSpan.forth{border:solid 2px yellowgreen;}

.radio:checked + .colorSpan.first {
    background-color: red;
}
  
.radio:checked + .colorSpan.second {
background-color: orange;
}

.radio:checked + .colorSpan.third {
background-color: yellow;
}

.radio:checked + .colorSpan.forth {
background-color: yellowgreen;
}
textarea{
    font-family: "Poppins";
    min-height: 150px;
}
.envoyer{
    padding: 10px 25px;
}


/* width */
::-webkit-scrollbar {

    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }